<h1 id="review-week-week--year">Review Week {{week}} / {{year}}</h1>

<hr />

<h2 id="highlights">Highlights</h2>
<ul>
  <li><strong>this</strong>!</li>
  <li>that!</li>
</ul>

<h2 id="monday-------dailymondaymonday">Monday     ………  [[daily/{{monday}}]]{{{monday}}}</h2>
<h2 id="tuesday------dailytuesdaytuesday">Tuesday    ………  [[daily/{{tuesday}}]]{{{tuesday}}}</h2>
<h2 id="wednesday----dailywednesdaywednesday">Wednesday  ………  [[daily{{wednesday}}]]{{{wednesday}}}</h2>
<h2 id="thursday-----dailythursdaythursday">Thursday   ………  [[daily/{{thursday}}]]{{{thursday}}}</h2>
<h2 id="friday-------dailyfridayfriday">Friday     ………  [[daily/{{friday}}]]{{{friday}}}</h2>
<h2 id="saturday-----dailysaturdaysaturday">Saturday   ………  [[daily/{{saturday}}]]{{{saturday}}}</h2>
<h2 id="sunday-------dailysundaysunday">Sunday     ………  [[daily/{{sunday}}]]{{{sunday}}}</h2>
