<h1 id="review-week--">Review Week  /</h1>

<hr />

<h2 id="highlights">Highlights</h2>
<ul>
  <li><strong>this</strong>!</li>
  <li>that!</li>
</ul>

<h2 id="monday-------daily">Monday     ………  [[daily/]]}</h2>
<h2 id="tuesday------daily">Tuesday    ………  [[daily/]]}</h2>
<h2 id="wednesday----daily">Wednesday  ………  [[daily]]}</h2>
<h2 id="thursday-----daily">Thursday   ………  [[daily/]]}</h2>
<h2 id="friday-------daily">Friday     ………  [[daily/]]}</h2>
<h2 id="saturday-----daily">Saturday   ………  [[daily/]]}</h2>
<h2 id="sunday-------daily">Sunday     ………  [[daily/]]}</h2>
