<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ resource.data.layout }} {{ resource.data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <div class="article-wrapper">
        <main class="z-20">
          <article>
            {{ content }}
          </article>
        </main>

        <div class="sticky left-0 w-screen top-4 z-10">
            <div class="toc-layer">
                <div class="toc-aside">
                </div>
                <div class="toc-padding">
                </div>
                <div class="toc-aside">
                </div>
            </div>
        </div>
    </div>

    {% render "footer", metadata: site.metadata %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127979309-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127979309-1');
    </script>
  </body>
</html>
