---
layout: default
---

{% render "wiki_header", available_wiki_documents: site.data.available_wiki_documents %}

<script type="text/javascript" async>
    const url_default_fb = "https://www.facebook.com/sharer/sharer.php?u=";
    const url_default_tw_txt = "https://twitter.com/intent/tweet?text=";
    const url_default_tw_url = "&url=";
    const url_this_page = encodeURIComponent(location.href);
    const title_this_page = encodeURIComponent(document.title);
    const url_combine_fb = url_default_fb + url_this_page;
    const url_combine_tw = url_default_tw_txt + title_this_page + url_default_tw_url + url_this_page;
</script>

<h1>{{ page.title }}</h1>

<div class="flex justify-end mb-6">
    <!-- Facebook share button -->
    <a href="" class="mx-4" title="페이스북으로 공유하기" onclick="window.open(url_combine_fb, '', 'scrollbars=no, width=600, height=600');">
        <i class="bi bi-facebook text-4xl"></i>
    </a>
    <!-- Twitter share button -->
    <a href="" title="트위터로 공유하기" onclick="window.open(url_combine_tw, '', 'scrollbars=no, width=600, height=600');">
        <i class="bi bi-twitter text-4xl"></i>
    </a>
</div>

<article id="wiki-content">
    {{ content }}
</article>

<!-- buy me a coffee -->
<style>.bmc-button img{width: 27px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{line-height: 36px !important;height:37px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#BB5794 !important;border-radius: 3px !important;border: 1px solid transparent !important;padding: 1px 9px !important;font-size: 22px !important;letter-spacing:0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;-o-transition: 0.3s all linear !important;-webkit-transition: 0.3s all linear !important;-moz-transition: 0.3s all linear !important;-ms-transition: 0.3s all linear !important;transition: 0.3s all linear !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}</style><link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

<div class="text-center my-4">
    <a class="bmc-button" target="_blank" href="https://qr.kakaopay.com/Ej8T6e8CM5dc06009"><img src="https://www.buymeacoffee.com/assets/img/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>
</div>
<script src="https://utteranc.es/client.js"
    repo="kodingwarrior/kodingwarrior.github.io"
    issue-term="title"
    theme="github-light"
    crossorigin="anonymous"
    async>
</script>

<script>
window.addEventListener("load", function(event) {
	const target = document.querySelector('#wiki-content')
	const before = target.innerHTML
	const results = [...before.matchAll(/\[\[([\w\s\/\.\-\_]*)\]\](\{.*\})?/g)]
	
	let after = before
	results.forEach(function(result) {
		const anchorHtml = result[2] !== undefined ? '<a href="/wiki/' + result[1] + '">' + result[2].slice(1, -1) + '</a>' : '<a href="/wiki/' + result[1] + '">' + result[1] + '</a>';
		after = after.replace(result[0], anchorHtml)
	})

	target.innerHTML = after

	const hyperlinks = target.querySelectorAll('a')

	const githubIcon = document.createElement('i')
	githubIcon.classList.add('bi-github')

	const documentIcon = document.createElement('i')
	documentIcon.classList.add('bi-file-text')

	const wikipediaIcon = document.createElement('i')
	wikipediaIcon.classList.add('bi-wikipedia')

	const microsoftIcon = document.createElement('i')
	microsoftIcon.classList.add('bi-windows')

	const bookIcon = document.createElement('i')
	bookIcon.classList.add('bi-book')

	const youtubeIcon = document.createElement('i')
	youtubeIcon.classList.add('bi-youtube')

	const twitterIcon = document.createElement('i')
	twitterIcon.classList.add('bi-twitter')

	const blueskyIcon = document.createElement('i')
	blueskyIcon.classList.add('bi-cloud-sun')

	const icons = [
		wikipediaIcon,
		githubIcon,
		documentIcon,
		microsoftIcon,
		bookIcon,
		youtubeIcon,
		twitterIcon,
		blueskyIcon,
	]

	icons.forEach(function(icon) {
		icon.classList.add('bi')
		icon.classList.add('mr-1')
	})


	hyperlinks.forEach(function(element) {
		// internal link
		if (element.href.includes(document.location.host + "/wiki")) {
			if (!element.className.includes("footnote")) {
				element.prepend(documentIcon.cloneNode(true))
			}
		}

		// github
		if (element.href.includes("github.com")) {
			element.prepend(githubIcon.cloneNode(true))
		}
	
		// wikipedia
		if (element.href.includes("wikipedia.org")) {
			element.prepend(wikipediaIcon.cloneNode(true))
		}

		// microsoft related documentation
		if (element.href.includes("visualstudio.com")) {
			element.prepend(microsoftIcon.cloneNode(true))
		}

		// aladin
		if (element.href.includes("aladin.co.kr")) {
			element.prepend(bookIcon.cloneNode(true))
		}

		// youtube 
		if (element.href.includes("youtube.com")) {
			element.prepend(youtubeIcon.cloneNode(true))
		}

		// twitter
		if (element.href.includes("twitter.com")) {
			element.prepend(twitterIcon.cloneNode(true))
		}

		// bluesky 
		if (element.href.includes("bsky.app")) {
			element.prepend(blueskyIcon.cloneNode(true))
		}
	})
})
</script>
