/* If you need to add @import statements, do so up here */
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "jit-refresh.css"; /* triggers frontend rebuilds */
@import "rouge-emacs-theme.css";

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-background: #f2f2f2;
  --body-color: #444;
  --heading-color: black;
  --action-color: #d64045;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  margin: 0 8px;
  font-size: 108%;
  line-height: 1.625;

  word-break: keep-all;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

h1 {
  margin: 1rem 0 3rem;
  text-align: center;
  font-weight: 900;
  font-size: 2.5rem;
  color: var(--heading-color);
  line-height: 1.2;
}

article {
  @apply overflow-x-auto;
}

article h1 {
  @apply mt-8 mb-6;
}

article h2 {
  font-weight: 900;
  margin: 2rem 0 0.75rem;
  font-size: 1.75rem;
  text-shadow: 0.5rem 0.5rem 0.5rem rgb(156, 163, 175);
}

article h3 {
  position: relative;
  font-weight: 800;
  margin: 1.5rem 0 0.75rem;
  font-size: 1.25rem;
}

article h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.25rem;
  width: 5.5rem;
  height: 0.5rem;
  transform: skew(-25deg) translateX(-50%);
  background: rgba(238,230,87,0.5);
  z-index: 2;
}

article h4 {
  font-weight: 700;
  margin: 1.25rem 0 0.5rem;
  font-size: 1.125rem;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

body > nav ul {
  margin: 2rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

body > nav a {
  text-decoration: none;
}

main {
  margin: 2rem auto 2rem;
  max-width: 65rem;
  width: 100%;
  min-height: calc(100vh - 200px);
  padding: 25px 25px 50px;
  background: white;
  box-shadow: 2px 3px 3px #ddd;
  border-radius: 3px;

  @media (max-width: 500px) {
    padding: 16px 16px 50px;
  }
}

.article-wrapper {
  display: grid;
}

.article-wrapper > * {
  grid-area: 1 / 1;
}

.toc-padding {
  position: relative;
  max-width: 65rem;
  width: 100%;
}

.toc-aside {
  top: 0.5rem;
  font-size: 1rem;
  max-width: 22rem;
  width: 100%;

  min-height: 10rem;
}

.toc-layer {
  position: sticky;
  top: 2rem;

  display: flex;
  justify-content: center;
  margin: 6.5rem auto 2rem;

  gap: 2rem;
  /* z-index: 2 */
}

.toc-layer ul {
  margin: 0.25rem 1.25rem;
  list-style-type: disc;
}

.toc-layer ul,li {
  line-height: 1.75
}

footer {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

article pre {
  @apply bg-slate-200 p-4 overflow-x-auto;
}

article blockquote {
  @apply pl-4 py-1 pr-2 bg-slate-100 border-l-8 border-slate-400;
}

/* Buy me coffee button image shrinks because of not applying '>' selector */
article > img {
  @apply mt-6 mb-4;

  width: 100%;
  border: 0.125rem dashed black;
}

article p {
  margin: 1.5rem 0;
}

article ul {
  @apply list-disc ml-8 my-2;
}

article li > ul {
  @apply ml-6;
}

article ul li {
  margin-top: 0.5rem;
}

article p code {
  @apply bg-amber-100 p-1 mx-1 my-2 border-2 border-amber-300 rounded-md text-sm font-bold;
}

article li code {
  @apply bg-amber-100 p-1 mx-1 my-2 border-2 border-amber-300 rounded-md text-sm font-bold;
}

*:focus-visible {
  outline: none;
}

article #about p {
  @apply ml-3;
}

li > ul {
  @apply ml-4;
}

article ol {
  @apply list-decimal ml-8 my-6;
}

article ol li {
  @apply my-2;
}

pre.mermaid {
  @apply bg-transparent mx-auto flex justify-center;
}

.footnotes {
  @apply mt-8 border-t-2 border-dashed border-slate-400;
}

kbd {
  @apply px-1 py-1 bg-gray-100 border-2 border-gray-300 mx-1 rounded-xl text-xs font-bold;
}

.twitter-tweet {
  margin: 2rem auto !important;
}

/* Wiki */
.wiki-navbar {
  @apply list-none flex justify-center items-center gap-x-8 m-0;
}
