<footer class="flex justify-start sm:justify-center flex-col sm:flex-row">
  <a class="my-2 mx-3 no-underline" href="/rss.xml">
    <i class="bi bi-rss-fill text-2xl"></i> Feed
  </a>
  <a class="my-2 mx-3 no-underline" href="mailto:<%= metadata.email %>">
    <i class="bi bi-envelope-fill text-2xl"></i> Email
  </a>
  <a class="my-2 mx-3 no-underline" href="https://twitter.com/kodingwarrior">
    <i class="bi bi-twitter text-2xl"></i> Twitter
  </a>
  <a class="my-2 mx-3 no-underline" href="https://github.com/kodingwarrior/kodingwarrior.github.io">
    <i class="bi bi-github text-2xl"></i> Github
  </a>
</footer>
