
<nav>
  <ul>
    <li><a href="/">/home</a></li>
    <li><a href="/about">/about</a></li>
    <li><a href="/posts">/posts</a></li>
    <li><a href="/wiki">/wiki</a></li>
    <li><a href="/hackerspub">/hackerspub</a></li>
  </ul>
</nav>
