
<header>
  <ul class="wiki-navbar">
	  <li>
		  <a href="/wiki">
			  <i class="bi bi-door-open mr-2"></i>Main
		  </a>
	  </li>
	  <li>
		  <a href="#" onclick="javascript:goToRandomDocument()">
			  <i class="bi bi-dice-5 mr-2"></i>Random
		  </a>
	  </li>
	  <li>
		  <a href="/neural-network">
			  <i class="bi bi-diagram-3 mr-2"></i>Graph
		  </a>
	  </li>
  </ul>
</header>

<script>
  function goToRandomDocument() {
    const event = new CustomEvent("go-to-random-page", { });
    document.dispatchEvent(event);
  }
</script>

<is-land on:visible import="<%= asset_path 'islands/random_page_redirection.js' %>">
  <random-page-redirection>
  </random-page-redirection>
</is-land>
