
<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">/home</a></li>
    <li><a href="{{ '/about' | relative_url }}">/about</a></li>
    <li><a href="{{ '/posts' | relative_url }}">/posts</a></li>
  </ul>
</nav>
